<div class="center-container">
    <div class="card">
        <div class="card-block center-block">
            <img class="card-img-top" src="../../assets/images/grant-thornton-logo-lg.jpg" style="width: 318px; height: auto;" alt="GTiHub">
        </div>
        
        <div class="card-block">
            <h2 class="card-title">Login to GTiHub</h2>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
                <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
                    <label>Email/Username:</label>
                    <input class="form-control" type="text" placeholder="user@example.com" [formControl]="loginForm.controls['username']">
                    <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger">Enter valid email.</div>
                    <div *ngIf="loginForm.controls['username'].hasError('email') && loginForm.controls['username'].touched" class="alert alert-danger">Email must be valid format.</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                    <label>Password:</label>
                    <input class="form-control" type="password" placeholder="Password" [formControl]="loginForm.controls['password']">
                    <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Enter valid password.</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>           
</div>
