<form [formGroup]="clientForm" novalidate (ngSubmit)="onSubmit(clientForm.value)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <small *ngIf="!clientForm.controls.name.valid" class="text-danger">
            Name is required
        </small>
    </div>
    <div class="form-group">
        <label for="industry">Industry</label>
        <select class="form-control" id="industry" formControlName="industry">
            <option value="" selected disabled>Select Industry</option>
            <option>Agriculture, Forestry and Fishing</option>
            <option>Mining</option>
            <option>Construction</option>
            <option>Manufacturing</option>
            <option>Transportation</option>
            <option>Communication</option>
            <option>Electric</option>
            <option>Oil and Natural Gas</option>
            <option>Sanitation</option>
            <option>Wholesale Trade</option>
            <option>Retail Trade</option>
            <option>Finance</option>
            <option>Insurance</option>
            <option>Real Estate</option>
            <option>Services</option>
            <option>Public Administration</option>
            <option>Nonclassifiable</option>
        </select>
        <small *ngIf="!clientForm.controls.industry.valid" class="text-danger">
            Industry is required
        </small>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary" [disabled]="!clientForm.valid">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="reset()"><span class="fa fa-eraser"></span> Clear</button>
    </div>
</form>