<div [formGroup]="transForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description" />
                <small [hidden]="transForm.controls.description.valid" class="text-danger">
                    Description is required
                </small>
            </div>
        </div>     
    </div>
    <rule-edit [group]="transForm.controls.rule" [i]="i" class="add-margin-bottom"></rule-edit>
    <div formArrayName="conditions" class="add-margin-bottom">
        <p-panel header="Conditions" [toggleable]="true">
            <button type="button" class="btn btn-default  add-margin-bottom" (click)="addCondition()"><span class="fa fa-plus"></span> Add Condition</button>
            <div *ngFor="let condition of transForm.controls.conditions.controls; let i=index">
                <div class="row">
                    <div class="col-md-11">
                        <condition-edit [group]="transForm.controls.conditions.controls[i]"></condition-edit>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" (click)="removeCondition(i)"><span class="fa fa-trash-o"></span></button>
                    </div>          
                </div>                        
            </div>  
        </p-panel>
    </div>
    
</div>
