<ng-sidebar-container>
    <ng-sidebar [(opened)]="opened" [closeOnClickOutside]="true" [mode]="'push'" [position]="'right'" [closeOnClickOutside]="true" [keyClose]="true" [keyClose]="true">
        <p-panelMenu [model]="menuItems"></p-panelMenu>
        <button type="button" class="btn btn-default" style="width: 100%" (click)="toggleMainBar()">
            <span class="fa fa-close"></span>
            Close
        </button>
    </ng-sidebar>
    <nav class="navbar navbar-light fixed-top bg-faded">
        <div class="form-inline">
            <a routerLink="/pages/overview">
                <img src="../../assets/images/grant-thornton-swirl-sm.png" alt="GTiHub">
            </a> 
            <button type="button" class="btn btn-default" style="margin-left: 10px;" (click)="toggleMainBar()">
                <span class="fa fa-bars"></span>
                Menu
            </button>
        </div>
    </nav>
    <div class="container-fluid add-margin-main-body">
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>



