<div class="container-fluid add-margin-top">
    <h4>All Clients</h4>
    <hr>
    <p-dataTable [value]="clients" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" [responsive]="true" 
                 [stacked]="stacked" [(selection)]="selectedClients" 
                 (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="industry" header="Industry" [sortable]="true"></p-column>
        <p-column field="created_By" header="Created By" [sortable]="true"></p-column>
        <p-column field="creation_Date" header="Creation Date" [sortable]="true"></p-column>
        <p-column field="modified_By" header="Modified By" [sortable]="true"></p-column>
        <p-column field="date_Modified" header="Date Modified" [sortable]="true"></p-column>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <div style="float:left">
                    <button type="button" pButton icon="fa-plus" (click)="showEditingDialog()" label="Add Client"></button>
                    <button type="button" pButton icon="fa-remove" (click)="deleteClients()" [disabled]="!canDelete" label="Delete Client(s)"></button>
                    <button type="button" pButton icon="fa-edit" (click)="editClient()" [disabled]="!canEdit" label="Edit Client"></button>
                </div>               
            </div>
        </footer>
    </p-dataTable>
</div>  
<p-dialog header="Add New Client" [modal]="true" [responsive]="true" [(visible)]="showDialog">
    <client-edit></client-edit>
</p-dialog>
<p-confirmDialog header="Confirm Deleting Client(s)" icon="fa fa-question-circle" width="425"></p-confirmDialog>