<div class="add-margin-bottom">
<p-orderList [value]="fields" header="Reorder Fields">
    <template let-field pTemplate="item">
        <div class="ui-helper-clearfix">
            <h5>{{fieldStatus.field.name}}</h5>
            <div style="font-size:14px;margin:15px 5px 0 0"> 
              <div>Datatype: {{fieldStatus.field.dataType}} Length: {{fieldStatus.field.length}}</div>
              <div>Active: 
                <span *ngIf="field.active" class="fa fa-check"></span>
                <span *ngIf="!field.active" class="fa fa-close"></span>
              </div>
              <div style="float: right">
                <span *ngIf="fieldStatus.isExisting">Existing Field</span>
                <span *ngIf="!fieldStatus.isExisting">New Field</span>
              </div>
            </div>
        </div>
    </template>
    <template *ngIf="fields.length == 0" pTemplate="item">
        <div class="ui-helper-clearfix">
            No Fields currently in working set
        </div>
    </template>
</p-orderList>
</div>
<button type="button" [disabled]="fields.length == 0" class="btn btn-secondary pull-right" (click)="confirmOrder()"><span class="fa fa-check"></span>Confirm Ordering</button>
<p-confirmDialog header="Confirm Field Ordering" icon="fa fa-question-circle" width="425"><p-confirmDialog>
