<p-panel header="Extract Fields" [toggleable]="true">
    <div class="form-group">
        <label for="fromBatchFile">Batch / Single File Extraction</label>
        <div>
            <p-inputSwitch onLabel="Batch" offLabel="Single" formControlName="fromBatch"></p-inputSwitch>
        </div>           
    </div>
    <div class="form-group">
        <label for="autoProcessed">Batch / Single Line Extraction</label>
        <div>
            <p-inputSwitch onLabel="Batch" offLabel="Single" formControlName="fromBatch"></p-inputSwitch>
        </div>           
    </div>
    public bool FromBatch { get; set; }
        public bool AutoProcessed { get; set; }
        public bool FixedLength { get; set; }
        public int Length { get; set; }
    <h5>Provide Input File (s)</h5>
    <p>Input file must be in a delimited flat file format (.txt, .dat, .csv) with the field names in the first row<p>
    <hr>
    <div class="form-group">
        <label for="templateFile">Select Template File(s)</label>
        <p-fileUpload (onSelect)="onSelectFile($event)"></p-fileUpload>
    </div>
    <h5>Set Delimiters and Field Row Values</h5>
</p-panel>
