<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
        <small *ngIf="!userForm.controls.firstName.valid" class="text-danger">
            First Name is required
        </small>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
        <small *ngIf="!userForm.controls.lastName.valid" class="text-danger">
            Last Name is required
        </small>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" [textMask]="{mask: phoneMask}" class="form-control" id="phoneNumber" placeholder="(111) 111-1111" formControlName="phoneNumber">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="user@example.com" formControlName="email">
        <small *ngIf="!userForm.controls.email.valid" class="text-danger">
            Email is required
        </small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        <small *ngIf="!userForm.controls.email.valid" class="text-danger">
            Password is required
        </small>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="reset()"><span class="fa fa-eraser"></span> Clear</button>
    </div>
</form>
