<form [formGroup]="ruleForm">
    <div class="row">
        <div class="col-md-4">
          <p-panel header="Rule Options" [toggleable]="true" styleClass="add-margin-bottom">
            <!-- Select target field -->
            
            <small [hidden]="ruleForm.controls.targetField.valid" class="text-danger">
                Target Field is required
            </small>
            <hr />
            <!-- Select operation -->
            <div>
                <label>Assignment Options</label>
                <div *ngFor="let rule_Opt of rule_Operations">
                    <label>
                        <input type="radio" formControlName="rule_Operation" [value]="rule_Opt.value">
                        {{rule_Opt.display}}
                    </label>
                </div>
            </div>
          </p-panel>
        </div>
    </div> 
    <p-panel *ngIf="ruleForm.controls.rule_Operation.value != ''" header="Add / Edit Rule Values" [toggleable]="true" styleClass="add-margin-bottom">
      <div *ngIf="ruleForm.controls.rule_Operation.value == 'field'">
                <button type="button" (click)="addRuleField()" class="btn btn-default add-margin-bottom"><span class="fa fa-plus"></span> Add Rule Field</button>          
                <div formArrayName="ruleFields" *ngIf="ruleForm.controls.ruleFields.length > 0">
                    <div class="row" *ngFor="let ruleField of ruleForm.controls.ruleFields.controls; let i=index">
                        <div class="col-md-11">
                            <rule-field-edit [group]="ruleForm.controls.ruleFields.controls[i]"></rule-field-edit>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" (click)="removeRuleField(i)"><span class="fa fa-trash-o"></span></button>
                        </div>
                    </div> 
                </div>                            
            </div>
            <!-- Show for assign op -->
            <div *ngIf="ruleForm.controls.rule_Operation.value == 'assign'">

            </div>
            <!-- Show for plain text op -->
            <div *ngIf="ruleForm.controls.rule_Operation.value == 'text'">
                <div class="form-group">
                    <label for="rule_Value">Rule Value</label>
                    <textarea class="form-control textarea-resize" placeholder="Value to set if conditions evaluate to true for a field" formControlName="rule_Value"></textarea>
                    <small [hidden]="ruleForm.controls.rule_Value.valid" class="text-danger">
                        Rule value is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="alt_Value">Alt Value (optional)</label>
                    <textarea class="form-control textarea-resize" placeholder="Value to set if conditions evaluate to false for a field" formControlName="alt_Value"></textarea>
                </div>
            </div>
    </p-panel>
</form>
