<div class="container-fluid add-margin-top">
    <h4>Add / Edit Maps</h4>
    <hr />
    <form [formGroup]="mapForm" novalidate (ngSubmit)="onSubmit(mapForm.value)">
        <p-panel header="Map Options" [toggleable]="true" styleClass="add-margin-bottom">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" />
                        <small *ngIf="!mapForm.controls.name.valid" class="text-danger">
                            Map Name is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control textarea-resize" formControlName="description"></textarea>
                        <small *ngIf="!mapForm.controls.description.valid" class="text-danger">
                            Map Description is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label>Effective Date</label>
                        <p-calendar formControlName="effective_Date"></p-calendar>
                    </div>
                    <div class="form-group">
                        <label for="active">Active</label>
                        <div>
                            <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="active"></p-inputSwitch>
                        </div>           
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" (click)="addTransform()"><span class="fa fa-plus"></span> Add Transformation</button>
                    </div>
                </div>  
            </div>  
        </p-panel>          
        <p-panel formArrayName="transformations" *ngFor="let transformation of mapForm.controls.transformations?.controls; let i=index" [toggleable]="true">
            <header style="display: inline-block;">           
                <span class="fa fa-close ui-panel-titlebar-toggler" (click)="removeTransform(i)"></span>  
                <span class="ui-panel-title">Transformation {{i+1}}</span>                                
            </header>
            <transformation-edit [group]="mapForm.controls.transformations.controls[i]" [i]="i"></transformation-edit>
        </p-panel>           
        <hr *ngIf="mapForm.controls.transformations.length > 0"/>
        <button type="button" class="btn btn-secondary" (click)="initMapForm()"><span class="fa fa-eraser"></span> Reset Map</button>      
        <button type="submit" class="btn btn-primary" [disabled]="!mapForm.valid">Submit</button>     
    </form>
</div>
<p-confirmDialog header="Confirm Deleting Transformation" icon="fa fa-question-circle" width="425"></p-confirmDialog>