<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Grant Thornton iHub</h1>
    <p>This website is used to transform flat files such as .dat, .csv, and .txt to formats usable by Oracle Cloud products. To learn more about how to begin transforming your files, click the button below.</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/pages/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">

</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>All Sources</h2>
      <p>View Sources from all Projects</p>
      <p><a class="btn btn-secondary" routerLink="/pages/source" role="button">View All Sources &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>All Targets</h2>
      <p>View Targets from all Projects</p>
      <p><a class="btn btn-secondary" routerLink="/pages/target" role="button">View All Targets &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>All Maps</h2>
      <p>View Maps from all Projects</p>
      <p><a class="btn btn-secondary" routerLink="/pages/map" role="button">View All Maps &raquo;</a></p>
    </div>
  </div>
</div>
    
