.center-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* You can add global styles to this file, and also import other style files */
.add-margin-top {
    margin-top: 1rem;
}
.add-margin-bottom {
    margin-bottom: 1rem;
}

.add-margin-tb {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-margin-main-body {
    margin-top: 70px;
    margin-bottom: 75px;
}

.full-height {
    height: 100vh;
}

.delimiter-field {
    max-width: 3em;
}

.form-inline > * {
    margin: 5px 10px !important;
}

